@{
    ViewBag.Title = "Index";
    Layout = null;
}
<h2></h2>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div class="container" style="width:40%;margin-top:2%">
    @using (Html.BeginForm("readJSON", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="form-group">
            <label class="form-control">Input Json Data File</label>
        </div>
        <div class="form-group">

            <input type="file" id="'jsfile" name="jfile" class="form-control" />
        </div>
        <br />
        <p>
            <input type="submit" value="Generate Controls" class="btn btn-block btn-primary" />
        </p>
    }

</div>